<div class="center">
    <h1>You FoundIt!</h1>
    <hr>
    <p>ID : {{id}}</p>
    <form action="/find/{{id}}" method="post">
        <textarea name="msg" rows="10" cols="30">Your message here!</textarea>
        <hr>
        <button type="Send">Send</button>
    </form>
</div>
