<div class="center">
    <h1>You FoundIt!</h1>
    <hr>
    <p>Someone lost this item, help out and let him/her know how to contact you!</p>
    <form action="/find/{{id}}" method="post">
        <textarea name="msg" rows="10" cols="30">Hi! I found your item, you can reach me at...</textarea>
        <hr>
        <button type="Send" class="btn btn-success">Send</button>
    </form>
</div>
