<h1>You Found It!</h1>
<p>ID : {{id}}</p>
<form action="/find/{{id}}" method="post">
    <textarea name="msg" rows="10" cols="30">Your message here!</textarea>
    <button type="Send">Send</button>
</form>