<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Welcome to {{title}}</h1>
      <h3>Takes People's Care Into Actions</h3>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
            <div class="w-50 p-3">
                <h2 class="section-heading"> A way to find your <br>beloved belongings</h2>
                <p class="lead">Foundit! is a platform where you can generate a QR tag for each of your belongings, then you can simply print it in the comfort of your home and stick it to your item.</p>
                <p class="lead">Say you lost your item. It has a higher chance that someone might bump into it and scan it. Then the finder will be able to message you.</p>
                <p class="lead">Wonderful, isn't it?</p>
            </div>
      </div>
      <div class="col-lg-5 mr-auto">
        <div class="img1">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
            <div class="w-50 p-3">
                <h2 class="section-heading">Why FoundIt?</h2>
                <p class="lead"> A simple and easy way to find
                    the owner of other's belongings and... It's free!</p>
            </div>
        </div>
        <div class="col-lg-5 ml-auto order-lg-1">
           <div class="img2">
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">

    <p class="copyright text-muted small">Copyright &copy; FoundIt! Company 2017. All Rights Reserved</p>
  </div>
</footer>
