<h1>User Profile</h1>
<hr>
<h2> Hello {{ name }} ! </h2>

<form action="/user/add-qrcode" method="get">
	<div class="col-sm-6 col-md-4">
		<button type="submit" class='btn btn-primary'>Add QR Code</button>
	</div>	
</form>